* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body{
    width: 100vw;
    height: 100vh;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-image: url(image/sunset.gif);
    background-position: center;
  }
  
  .cronometro {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  span {
    position: absolute;
    font-size: 100px;
    margin-top: 60px;
    color: #111;
}
  
  img {
    width: 70%;  
  }
  
  .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  button {
    cursor: pointer;
    border-radius: 20px;
  }
  
  i {
    font-size: 50px;
  }
  
  #btnPause {
    margin: 20px 20px;
  }
 
@media(max-width: 425px) {
    span {
      font-size: 60px;
      margin-top: 40px;
    }
  
    i {
      font-size: 40px;
    }
  }